body {
    background-color: hsl(30, 54%, 90%);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.image {
    
}
.container {
    width: 400px;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
.recipe-title {
    text-align: left;
}
.recipe-title h2{
    text-align: left;
}
.recipe-title p{
    font-size: 11px;
}
.preparation-time {
    padding: 15px;
    text-align: left;
}
.preparation-time h3 {
    font-size: 10px;
    margin-left: 5px;
}
.preparation-time ul {
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.preparation-time li {
    font-size: 10px;
    margin-left: 20px;
}
.preparation-time li span {
    position: relative;
    left: 10px;
}
.ingredients-list {
    text-align: left;
}
.ingredients-list li span {
    position: relative;
    left: 10px;
}
.ingredients-list h2 {
    margin-left: 5px;
}
.ingredients-list ul {
    padding-left: 20px;
    margin: 0;
    font-size: 11px;
}
hr {
    height: 1px;
}